{% extends "layout.html" %}

{% block title %}
    Password
{% endblock %}

{% block main %}
    <form action="/password" method="post" name="changePassword" onsubmit="return validateFormChange()">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password" required minlength="" maxlength="30">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirmation" type="password" required minlength="" maxlength="30">
        </div>
        <button class="btn btn-primary" type="submit">Change password</button>
    </form>
    
    <script>
        function validateFormChange() {
                let password = document.forms["changePassword"]["password"].value;
                let confirmation = document.forms["changePassword"]["confirmation"].value;

                if (checkPasswordMastHave(password)) {
                    alert("Password has not symbol(Нет необходимого символа)");
                    return false;
                }
                else if (checkPasswordBadSymbol(password)) {
                    alert("Password has bed symbol");
                    return false;
                }
                else if (password.length < 6 || password.length > 30) {
                    alert("Password is not available(короткий или длинный)");
                    return false;
                }
                else if (password != confirmation) {
                    alert("Passwords is not same");
                    return false;
                }
                else {
                    return true;
                }
            }        
    </script>
{% endblock %}
